.stock {
  margin: 24px;
  border: gray solid 2px;
  width: 40%;
  .stock-header {
    display: flex;
    justify-content: space-between;
  }
  .stock-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    div {
      width: 40%;
    }
  }
  .stock-footer {
    display: flex;
    justify-content: right;
  }
}
