
<!-- Not necessary because the loading is inferior to 250ms
<div *ngIf="(isLoading | async)">
 <p>Collecting data... Please wait a short moment.</p>
</div>
-->
<div *ngIf="sentiment | async as data">
 {{data.symbol}}
 -----------------------
 <div *ngFor="let sentiment of data.data">
   {{getMonth(sentiment.month)| date: 'MMMM'}} |
   {{sentiment.change}} |
   {{sentiment.mspr}}
   <div [ngSwitch]="sentiment.change > 0">
     <div  *ngSwitchCase="true" style="background-color: green">PLUS</div>
     <div  *ngSwitchCase="false"  style="background-color: red">MOINS</div>
   </div>
   <br>
   -----------------------
 </div>
</div>

<button type="button" [routerLink]="['/']" backBtn>back to list of stocks</button>
