<div class="content" *ngIf="sentiment | async as data">
  <div class="sentiment">
    <div class="sentiment-header">{{data.description}} ({{data.symbol}})</div>
    <div class="sentiment-content">
      <div class="sentiment-month" *ngFor="let monthSentiment of data.data; let indexOfelement=index;" [ngClass]="{withBorder: indexOfelement==1, isAlign: !(monthSentiment.change && monthSentiment.mspr)}">
        <div class="sentiment-month-header">
          <p> {{monthSentiment.date | date: 'MMMM yyyy'}}</p>
          <img  *ngIf="monthSentiment.change" class="trend-img" src="{{getImageSource(monthSentiment.change)}}">
        </div>
        <div class="sentiment-month-content" *ngIf="monthSentiment.change &&monthSentiment.mspr else noDataAvailable">
          <p>change: {{monthSentiment.change}}</p>
          <p>MSPR: {{monthSentiment.mspr}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <button type="button" [routerLink]="['/']" id="backBtn">back to list of stocks</button>
  </div>
</div>


<ng-template #noDataAvailable>No data available</ng-template>

<ng-container *ngIf="(isLoading | async)">
  <app-loader [message]="MESSAGE_LOADER"></app-loader>
</ng-container>
